*{
    font-family: 'Roboto', sans-serif;
    color: rgb(213, 190, 190);
    
}
/* form container */
.container{
  background: url(/assets/images/low-poly-grid-haikei\ \(3\).png);
  background-position: center center;
  background-size: cover;
}
/* button utilities */
.delete-btn{
    background-color: #d12518;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    cursor: pointer;
  }

.btn:hover{
    transition: all 2s ease;
    transform: scale(1.18);
}

/* table head */
thead {
  border: none !important;
}